{% extends "base.html" %}

{% block head_title %}Delete {{ object.name }}{% endblock %}

{% block content %}
<h1>{{ object.name }}</h1>

<br />

<div class="alert">
  <strong>Warning!</strong> Are you sure you want to delete this {{ object.get_class }}?
</div>

<form action="." method="post">{% csrf_token %}
{{ form }}
<label for="id-comment">Comment:</label>
<input id="id-comment" type="text" max_length="100" name="comment" />
<p>
    <input type="submit" name="submit" value="Delete {{ object.get_class }}" class="btn btn-danger" />
    <a href="{{ object.get_absolute_url }}"><input type="button" name="cancel" value="Cancel" class="btn" /></a>
</p>
</form>
{% endblock %}
