{% extends "base.html" %}

{% block head_title %}Edit History for {{ wiki_object.name }}{% endblock %}

{% block content %}
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li><a href="{{ wiki_object.get_absolute_url }}">Read</a></li>
    <li><a href="{% url wiki-edit-slug wiki_object.get_class wiki_object.slug %}">Edit</a></li>
    <li class="active">
      <a href="#">View History</a>
    </li>
  </ul>

  <h1>{{ wiki_object.name }}</h1>

  <br />

  {% if object_list %}
    <table id="change-history" class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">User</th>
          <th scope="col">Comment</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <th scope="row"><a href="{{ object.url }}">{{ object.revision.date_created|date:"DATETIME_FORMAT" }}</a></th>
            <td>{{ object.revision.user.username }}</td>
            <td>{{ object.revision.comment }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>
{% endblock %}