{% extends "base.html" %}

{% load wiki_tags %}

{% block head_title %}{{ object_list|get_verbose_name_plural|capfirst }}{% endblock %}

{% block content %}

<div class="row">
	<div class="span4">
		<h1>{{ object_list|get_verbose_name_plural|capfirst }}</h1>
	</div>

	<div class="span4">
		<a href="{% url wiki-create model %}" class="btn btn-primary">Create {{ object_list|get_verbose_name|capfirst }}</a>
	</div>
</div>

<br />

<ul>
	{% for object in object_list %}
		<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
	{% empty %}
		No {{ object_list|get_verbose_name_plural }} exist.
	{% endfor %}
</ul>

{% endblock %}
