{% extends "base.html" %}

{% load wiki_tags %}

{% block head_title %}Diff for {{ wiki_object.name }} ({{ wiki_object|get_verbose_name }}){{% endblock %}

{% block content %}
<h1>{{ wiki_object.name }}</h1>

<br />

<p><strong>Old Version</strong>: {{ old_version.revision.date_created }} - {{ old_version.revision.user }}
{% if old_version.revision.comment %}({{ old_version.revision.comment }}){% endif %}</p>
<p><strong>New Version</strong>: {{ new_version.revision.date_created }} - {{ new_version.revision.user }}
{% if new_version.revision.comment %}({{ new_version.revision.comment }}){% endif %}</p>

<br />

<div id="diff">
  {% for field, html in diff_html.items %}
    <p><strong>{{ field|capfirst }}</strong>: {{ html|safe }}</p>
  {% endfor %}
</div>
{% endblock %}
