{% extends "wiki/wiki_detail.html" %}

{% load wiki_tags %}

{% block head_title %}{{ object.name }} ({{ object|get_verbose_name }}){% endblock %}

{% block content %}
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Read</a></li>
    <li><a href="{% url wiki-edit-slug object.get_class object.slug %}">Edit</a></li>
    <li><a href="{% url wiki-history-slug object.get_class object.slug %}">View History</a></li>
  </ul>

  <h1>{{ object.name }}</h1>

  <h3>{{ object.deck }}</h3>

  <br />

  <strong>Release Date</strong>
  <p>{{ object.release_date|date|default:"None" }}</p>

  <strong>Platforms</strong>
  <p>
    {% for platform in object.platforms.all %}
      <a href="{{ platform.get_absolute_url }}">{{ platform.name }}</a>
    {% empty %}
      None
    {% endfor %}
  </p>

  <strong>Developers</strong>
  <p>
    {% for developer in object.developers.all %}
      <a href="{{ developer.get_absolute_url }}">{{ developer.name }}</a>
    {% empty %}
      None
    {% endfor %}
  </p>

  <strong>Publishers</strong>
  <p>
    {% for publisher in object.publishers.all %}
      <a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a>
    {% empty %}
      None
    {% endfor %}
  </p>

  <strong>Genres</strong>
  <p>
    {% for genre in object.genres.all %}
      <a href="{{ genre.get_absolute_url }}">{{ genre.name }}</a>
    {% empty %}
      None
    {% endfor %}
  </p>

  <strong>Themes</strong>
  <p>
    {% for theme in object.themes.all %}
      <a href="{{ theme.get_absolute_url }}">{{ theme.name }}</a>
    {% empty %}
      None
    {% endfor %}
  </p>

  <div id="wiki-content">
    {{ object.wiki_content|creole }}
  </div>
</div>
{% endblock %}
