{% extends "base.html" %}

{% block head_title %}
{% if object %}Edit {{ object.name }}{% else %}Create Game{% endif %}
{% endblock %}

{% block content %}
{% if object %}
<ul class="nav nav-tabs">
  <li><a href="{{ object.get_absolute_url }}">Read</a></li>
  <li class="active">
    <a href="#">Edit</a>
  </li>
  <li><a href="{% url wiki-history-slug object.get_class object.slug %}">View History</a></li>
</ul>
{% endif %}

<h1>
  {% if object %}{{ object.name }}{% else %}Edit Game{% endif %}
</h1>

<br />

<form action="." method="post">{% csrf_token %}
{{ form }}
<label for="id-comment">Comment:</label>
<input id="id-comment" type="text" max_length="100" name="comment" />
<p><input type="submit" name="submit" value="Submit Edit" class="btn btn-primary" /></p>
</form>
{% endblock %}
