{% extends "base.html" %}

{% block head_title %}
{% if object %}Edit {{ object.name }}{% else %}Create Game{% endif %}
{% endblock %}

{% block content %}
{% if object %}
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li><a href="{{ object.get_absolute_url }}">Read</a></li>
    <li class="active">
      <a href="#">Edit</a>
    </li>
    <li><a href="{% url wiki-history-slug object.get_class object.slug %}">View History</a></li>
  </ul>
{% endif %}

  <h1>
    {% if object %}{{ object.name }}{% else %}Create Game{% endif %}
  </h1>

  <br />

  <form action="." method="post">{% csrf_token %}
  {{ form }}
  <label for="id-comment">Comment:</label>
  <input id="id-comment" type="text" max_length="100" name="comment" />
  <p>
    <input type="submit" name="submit" value="{% if object %}Save changes{% else %}Create game{% endif %}" class="btn btn-primary" />
    {% if not object %}
      <a href="{% url wiki-list 'game' %}"><input type="button" name="cancel" value="Cancel" class="btn" /></a>
    {% endif %}
  </p>
  </form>
{% if object %}
</div>
{% endif %}
{% endblock %}
