<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block head_title %}Example{% endblock %}</title>
    <link rel="stylesheet/less" href="{{STATIC_URL}}/css/main.less">
    <script type="text/javascript" src="{{STATIC_URL}}/js/less-1.1.3.min.js">
    </script>

    {% block extra_head %}
    {% endblock %}
    <noscript>
      <meta http-equiv="Refresh" content="0; URL=/nojs/">
    </noscript>
  </head>
  <body>
    <header>
      <h1>Example</h1>
    </header>

    <section id="content" class="container">
      {% if messages %}
        {% for message in messages %}
          <div class="alert{% if message.tags %} alert-{{ message.tags }}"{% endif %}>
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock %}
    </section>

    <footer>&copy; 2011</footer>

    {% block extra_script %}
    {% endblock %}
  </body>
</html>