{% extends "base.html" %}

{% block content %}
<ul class="breadcrumb">
  <li>
    <a href="{% url forum-list %}">Forums</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="{{ thread.forum.get_absolute_url }}">{{ thread.forum.title }}</a> <span class="divider">/</span>
  </li>
  <li class="active">
    {{ thread.title }}
  </li>
</ul>

{% if object_list %}
  <ul>
    {% for object in object_list %}
      <li>{{ object.creator }}: {{ object.body }}</li>
    {% endfor %}
  </ul>
{% endif %}

<br />

{% include "forums/post_form.html" %}
{% endblock %}