{% extends "base.html" %}

{% block head_title %}{{ thread.title }}{% endblock %}

{% block content %}
<ul class="breadcrumb">
  <li>
    <a href="{% url forum-list %}">Forums</a> <span class="divider">/</span>
  </li>
  <li>
    <a href="{{ thread.forum.get_absolute_url }}">{{ thread.forum.title }}</a> <span class="divider">/</span>
  </li>
  <li class="active">
    {{ thread.title }}
  </li>
</ul>

{% if object_list %}
  <table class="table table-bordered table-striped">
    <tbody>
      {% for object in object_list %}
        <tr>
          <td width="15%">
            <center>
              <img src="{{ object.creator.userprofile.avatar.url }}">
              <br />
              <a href="{% url user-detail object.creator.username %}">{{ object.creator }}</a>
              <br />
              {{ object.created|date:"SHORT_DATETIME_FORMAT" }}
            </center>
          </td>
          <td>{{ object.body }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<br />

{% include "forums/post_form.html" %}
{% endblock %}